
:root{
    --color-black:black;
}

.NButton{
    width: 138px !important;
    height:27px !important;
    background-color: black!important;
    color:rgba(52,201,75,1) !important;
    border-radius: 12px !important;
    text-transform: none !important;
    padding:10px 16px 10px 16px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 27px !important;
    letter-spacing: 0.25px !important;
    text-align: center !important;
}